<!DOCTYPE html>
<html ng-app>
<head>
  <title>hd</title>
  <meta name='viewport' content='width=device-width,initial-scale=1,user-scalable=no'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'index', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <div id='tail' style='position: absolute; top: -10000px; height: 0px; width: 0px;'>
    <script src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Fmjtd%7Cluua25u8n1%2Cb5%3Do5-9625gy"></script> 
    <%= javascript_include_tag 'application' %>
  </div>

  <nav class="row">
  	<div class="col3 pull_left wrapper">
  		<a href="#" class="ss-icon ss-crosshair inner row">My Beacon</a>
  	</div>
	<div class="col3 pull_right wrapper">
		<a href="#" class="ss-icon ss-location inner row">Filter Beacons</a>
	</div>
  </nav>

</body>
</html>